@model VW.Notification.Application.DTOs.NotificationTemplateData

@{
    var orderId = "";
    var orderTotal = "";

    if (Model.Payload.ContainsKey("OrderId"))
    {
        orderId = Model.Payload["OrderId"].ToString();
    }
    if (Model.Payload.ContainsKey("OrderTotal"))
    {
        orderTotal = Model.Payload["OrderTotal"].ToString();
    }
}

<html>
<head>
    Order Created
</head>
<body>
    <p>
        Hi @Model.Recipient.Name,
    </p>
    <p>
        Your order has been created successfully.
    </p>
    <p>
        Order ID: @orderId
    </p>
    <p>
        Order Amount: @orderTotal
    </p>
    <p>
        Thank you for your order!
    </p>
</body>
</html>